@import url('https://fonts.google.com/specimen/Inter');
@import url('https://fonts.google.com/specimen/Lexend+Deca');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: hsl(233, 47%, 7%)
}

.wrapper {
    display: flex;
    max-width: 60vw;
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-side {
    display: inherit;
    flex-direction: column;
    padding: 2.2rem 5rem;
    background-color: hsl(244, 38%, 16%);
}

.card-title {
    color: hsl(0, 0%, 100%);
    margin: 0.8rem 0;
    font-size: 1.65rem;
}

#insight {
    color:hsl(277, 64%, 61%);
}

.card-description {
    line-height: 1.5;
    font-size: 0.9rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 1.5rem;
}

.stats-item {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: 1rem 0;
}

.numbers {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 700;
    font-size: 1.1rem;
}

.text-for-numbers {
    color: hsla(0, 0%, 100%, 0.75);
    opacity: 0.7;
    font-weight: 300;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.right-side {
    background: url("images/image-header-desktop.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    order: 1;
    width: 100%;
}

.overlay {
    width: inherit;
    height: inherit;
    background-color: hsl(277, 64%, 61%);
    opacity: 0.5;
}

.card-img {
    max-width: 25vw;
    display: inherit;
    flex-basis: 100%;
}
